p {
    margin: 0;
    padding: 0;
}

.modal-header {
    display: block;
    text-align: center;

}

.modal-header .btn-close {
    display: none;
}

.modal-title img {
    width: 250px;
    height: 90px;
    margin-top: 20px;
}

.modal-header p {
    display: block;
    margin-top: 10px;
    color: grey;
}

.modal-header {
    border: none;
}

.modal-content {
    width: 80%;
}

.btn-second {
    width: 100%;
    font-size: 18px;
    margin-bottom: 30px;
}

.nav-bg {
    padding: 0px 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 0px;
}

.nav-bg .login-btn1,
.login-btn2 {
    display: inline-block;
}

.login-btn2 {
    margin: 0px 10px;
    font-size: 20px;
}

.nav-bg img {
    width: 170px;
    height: 60px;
}

.nav-bg ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bg ul li {
    list-style: none;
    margin-right: 30px;
}

.nav-bg .Menu-option {
    text-decoration: none !important;
    color: #000 !important;

}

.nav-bg .header-icon {
    font-size: 20px;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: space-between;
    margin-left: 50px;
}

.nav-bg .navbar-expand-lg .navbar-nav {
    margin: 0 !important;
}

.nav-bg .nav-link {
    font-size: 18px;
    padding: 30px;
    margin-right: 20px;
}

#shoping-btn {
    border: none;
    background-color: #fff;
    margin-top: 5px;
}

nav.nav-bg.navbar.navbar-expand-lg.navbar-light {
    position: fixed;
    z-index: 5;
    width: 100%;
    background: #fff;
    top: 0;
}

.login-close {
    text-align: end;
    font-size: 20px;
    margin-right: 5px;
}

.login-btn {
    box-shadow: none;
    text-transform: capitalize;
}

.input-area .login-input {
    margin-bottom: 0px;
}

.dropbtn {
    background-color: #fff;
    color: #000;
    padding: 0px;
    font-size: 18px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    font-size: 18px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content .drop-ff {
    font-size: 18px !important;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar-light .navbar-toggler-icon {
    background-image: url(../public/images/menu.png);
}

input.form-control.rounded {
    margin-bottom: 0px;
}

.fa-search {
    color: #000;
    background-color: #fff;
}

.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
}
#img-logo{
    position: sticky;
}

@media (max-width:1300px) {
    .navbar-expand-lg .navbar-collapse {
        margin-left: 0px;
    }

    a.nav-link, .dropbtn {
        margin: 0px !important;
        font-size: 18px !important;
    }

    button.dropbtn {
        font-size: 14px;
    }

    .fade.modal.show {
        padding: 0px;
    }
    a.nav-link {
        padding: 0px 10px 0px 0px !important;
    }
}
@media (max-width:992px){
    a.nav-link {
        padding: 0px 10px 0px 0px !important;
        padding-bottom: 20px !important;
    }.me-auto {
        margin-top: 20px;
    } .navbar ul li{
       margin: 20px 0px;
    }
}
@media (max-width:767px){
    .navbar ul{
        display: block  ;

    }.input-group {
        width: 40%;
    }
}
@media (max-width:576px){
    .input-group {
        width: 80%;
    }
}