.product1-area {
    margin: 0px 50px;
    margin-bottom: 50px;
}

.product-box.card-box {
    margin: 0px 20px;
    margin-bottom: 20px;
}

.product1-area .card-title.h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.product1-area p.card-text {
    color: #787575;
    font-size: 16px;
    margin-bottom: 5px;
}

.product1-area .card {
    border: none;
    box-shadow: none;
    transition: 0.25s ease;
}

.product1-area .card:hover {
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: translate(0px, -10px);
}

.product1-area button.btn.btn-dark {
    box-shadow: none;
    font-size: 14px;
    margin-right: 2px;
    padding: 5px 10px;
}

.model-pro .model-box {
    display: flex;
    justify-content: center;
    width: 100%;
}

.model-pro ul {
    display: flex;
}

.model-pro ul li {
    list-style: none;
    padding: 10px 15px;
    margin: 10px;
    border: 1px solid #e9e9e9;
}

.model-pro .modal-content {
    width: 100%;
}

.fade.model-pro.show {
    --bs-modal-width: 700px;
    --mdb-modal-width: 700px;
    --bs-modal-margin: 12.5rem;

}

.product-size {
    margin: 20px 0px;
}

.product-color {
    margin: 20px 0px;
}

.model-detail .pl-title,
p {
    margin-bottom: 10px;
}

button.model-btn {
    margin-top: 15px;
    width: 100%;
}

.model-detail {
    margin: 30px;
}

.modal-header {
    position: relative;
    padding: 0px;
}

.modal-title.h4 {
    position: absolute;
    right: -23px;
    top: -20px;
}

#orange {
    background-color: orange;
    padding-bottom: 20px;
}

#pink {
    background-color: pink;
    padding-bottom: 20px;
}

#blue {
    background-color: rgb(130, 36, 227);
    ;
    padding-bottom: 20px;
}

#red {
    background-color: red;
    padding-bottom: 20px;
}
@media (max-width:992px){
    .card-body {
        padding: 8px;
    }
}
@media (max-width:576px) {
    .product1-area p.card-text {
        display: none;
    }

    .cart-btn {
        font-size: 10px;
        padding: 5px 0px;
    }

    .product1-area .card-title.h5 {
        font-size: 12px;
    }
    .modal-dialog {
    
        margin:20px !important;
    }.model-detail {
        margin: 0px;
    }
    .product1-area button.btn.btn-dark {
        width: 45%;
        box-shadow: none;
        margin: 1px;
    }.product1-area button.btn.btn-dark {
        padding: 5px;
        box-shadow: none;
        margin: 1px;
        font-size: 7px;
    } .card-body {
        padding: 1px;
    }
}

@media (max-width:767px) {
    .product1-area {
        margin: 0px 0px;
        margin-bottom: 50px;
    }

    .product-box.card-box {
        margin: 0px 10px;
        margin-bottom: 20px;
    }
}

